.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.iml
.idea
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
templates/
modules.xml
runConfigurations.xml
vcs.xml
wallets/
output.json
app/build/
*.hprof
*.ap_
*.dex
/game/build
